// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
h2, h3, h4, h5, h6 {
  color: #004aad;
}

// Bootstrap style alerts
.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  border-radius : $alert-border-radius;
}

// Bootstrap style alerts
.card {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid rgba(0, 0, 0, 0.125);
  border-radius : $alert-border-radius;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: $alert-border-width solid rgba(0, 0, 0, 0.125);
}

figure img.logo {
  border: $alert-border-width solid rgba(0, 0, 0, 0);
}

.figure-caption {
  margin-top: 10px;
  text-align: center;
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}

// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(color-level($value, $alert-bg-level), color-level($value, $alert-border-level), color-level($value, $alert-color-level));
  }
}

