@font-face {
    src: url('../font/NotoSans-Regular.ttf');
}

@font-face {
    src: url('../font/NotoSans-Thin.ttf');
}

@font-face {
    src: url('../font/NotoSans-Medium.ttf');
}

@font-face {
    src: url('../font/NotoSans-SemiBold.ttf');
}

.root {
    -fx-font-family: 'Noto Sans';
}

.main {
    -fx-min-height: 700;
    -fx-min-width: 900;
    -fx-background-color: white;
}

.primary-button {
    -fx-background-color: #9F93Ed;
    -fx-background-radius: 8;
    -fx-text-fill: white;
}

.primary-button:hover {
    -fx-background-color: #8373E7;
}

.primary-button:pressed {
    -fx-background-color: #7D6DE0;
}

.scroll-bar {
    -fx-font-size: 8px;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #00000012;
    -fx-background-radius: 5em;
}
