@font-face {
    src: url('../font/NotoSans-Thin.ttf');
}

@font-face {
    src: url('../font/NotoSans-Regular.ttf');
}

.alert {
    -fx-text-fill: #D82148;
}

.root {
    -fx-font-family: 'Noto Sans';
}

.title {
    -fx-font-family: 'Noto Sans Thin';
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding : 4 2;
    -fx-border-color: #CCC;
}

.text-area:focused {
    -fx-border-color: #9F93Ed;
    -fx-border-width: 1px;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding : 8 8;
    -fx-border-color: #CCC;
}

.text-field:focused {
    -fx-border-color: #9F93Ed;
    -fx-border-width: 1px;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

.primary-button {
    -fx-background-color: #9F93Ed;
    -fx-background-radius: 8;
    -fx-text-fill: #FFFFFF;
}

.primary-button:hover {
    -fx-background-color: #8373e7;
}

.primary-button:pressed {
    -fx-background-color: #7d6de0;
}

.edit-button {
    -fx-background-color: #FFE08A;
    -fx-background-radius: 8;
    -fx-text-fill: #000000b3;
}

.edit-button:hover {
    -fx-background-color: #FFDC76;
}

.edit-button:pressed {
    -fx-background-color: #ffd970;
}

.delete-button {
    -fx-background-color: #f6416c;
    -fx-background-radius: 8;
    -fx-text-fill: #FFFFFF;
}

.delete-button:hover {
    -fx-background-color: #e6315c;
}

.delete-button:pressed {
    -fx-background-color: #e03957;
}
