#addContainer {
    -fx-background-color: #7796CB;
}

#editContainer {
    -fx-background-color: #7796CB;
}

.label {
    -fx-background-color: derive(#A3BCF9, 20%);
}

#editMessageLabel {
    -fx-background-color: #7796CB;
}

#addMessageLabel {
    -fx-background-color: #7796CB;
}

#errorLabel {
    -fx-background-color: #7796CB;
}

.button {
    -fx-font-size: 14;
    -fx-background-color: derive(#A3BCF9, 20%);
}
