/**
bg - #FEFAF5
light - #FCF4E7
dark - #FAE9CF
context - #B3A79A
accent - #D36F1C
black - #333
white - #F0F0F0
grey-ish - #FDF8F0 / #FDF6EB
 */

/* No idea what this does but it looks important */
.background {
    -fx-background-color: #222;
    background-color: #222; /* Used in the default.html file */
}

.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #EAEAEA;
}

.error {
    -fx-text-fill: #d06651 !important;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.list-view {
    -fx-padding: 0;
}

.list-cell:filled {
    -fx-background-color: #333;
    -fx-background-radius: 14px;
    -fx-border-radius: 14px;
    -fx-padding: 15px;
    -fx-border-insets: 5px 9px;
    -fx-background-insets: 5px 9px;
}

.list-cell:filled:odd {
    -fx-background-color: #474747;
}

.list-cell .label {
    -fx-text-fill: #EAEAEA;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
}

.list-cell .cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
}

.result-display {
    -fx-background-color: #333;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12pt;
    -fx-text-fill: #EAEAEA;
    -fx-wrap-text: "true";
    -fx-border-width: 1px;
    -fx-border-color: #333;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.result-display .content {
    -fx-background-color: #333;
    -fx-background-radius: 0px;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #EAEAEA;
    -fx-padding: 10px;
    -fx-pref-height: 30px;
}

.pane-with-border, .status-bar, .scroll-bar, .list-view, .list-cell {
    -fx-background-color: #222;
}

.menu-bar, .context-menu, .menu-item:focused {
    -fx-background-color: #9C6451;
}

.menu:hover, .menu:showing, .menu-item:hover {
    -fx-background-color: #49829C;
}

.thumb {
    -fx-background-color: #BA6C41;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.increment-arrow, .decrement-arrow {
    -fx-shape: " ";
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #222;
    -fx-border-color: transparent transparent #333 transparent;
    -fx-border-width: 2px;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13pt;
    -fx-text-fill: #EAEAEA;
}

#commandTextField:focused {
    -fx-border-color: transparent transparent #BA6C41 transparent;
}

#tags, #memberships {
    -fx-hgap: 7;
}

#tags .label, #memberships .label {
    -fx-text-fill: #EAEAEA;
    -fx-background-color: #BA6C41;
    -fx-padding: 6px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-font-size: 11;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-insets: 4px 0;
    -fx-background-insets: 4px 0;
}

#memberships .label {
    -fx-background-color: #5E281A;
}

#optionalFields .label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #EAEAEA;
}
