#copyButton {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: #474646;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#copyButton:hover {
    -fx-background-color: gray;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#copyButton:armed {
    -fx-background-color: darkgray;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

