
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.module-code {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 32px;
    -fx-text-fill: #010504;
}

.module-name {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 32px;
    -fx-text-fill: #010504;
    -fx-padding: 0 0 0 5;
}

.module-professor-list-heading {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 28px;
    -fx-text-fill: #010504;
    -fx-padding: 0 5 0 5;
    -fx-background-color: #5B4B49;
}

.module-professor-list-heading:hover {
    -fx-background-color: #493c3a;
}

.module-student-list-heading {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 28px;
    -fx-text-fill: #010504;
    -fx-padding: 0 5 0 5;
    -fx-background-color: #8DA7BE;
}

.module-student-list-heading:hover {
    -fx-background-color: #718698;
}

.module-groups-list-heading {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 28px;
    -fx-text-fill: #010504;
    -fx-padding: 0 5 0 5;
    -fx-background-color: #5E8C61;
}

.module-groups-list-heading:hover {
    -fx-background-color: #4b704e;
}

.module-key-events-list-heading {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 28px;
    -fx-text-fill: #010504;
    -fx-background-color: #CA895F;
    -fx-padding: 0 5 0 5;
}

.module-key-events-list-heading:hover {
    -fx-background-color: #a26e4c;
}

/* GroupCard related classes */
.group-headings {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 32px;
    -fx-text-fill: #010504;
}

.group-module-code.label {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 32px;
    -fx-text-fill: black;
    -fx-background-color: #C1CAD6;
    -fx-background-radius: 2;
    -fx-padding: 2 2 2 2
}

.group-name {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 32px;
    -fx-padding: 0 0 0 5;
}

.group-subheadings {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 28px;
    -fx-text-fill: #010504;
    -fx-underline: true;
}

/* ModuleKeyEventCard related classes */
.module-key-event-index {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 28px;
    -fx-text-fill: #010504;
}

.module-key-event-type {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 28px;
    -fx-text-fill: #010504;
}

.module-key-event-time {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 28px;
    -fx-text-fill: #010504;
}
