.grid-title {
    -fx-border-width: 0 0 0 0.1;
    -fx-border-style: solid;
    -fx-text-fill: #AEAEAE;
}

.menu .label {
    -fx-text-fill: #FFFFFF;
}

.menu:hover,
.menu:showing {
    -fx-background-color: #8373e7;
    -fx-text-fill: #FFFFFF;
}

.menu-item {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

.menu-item .label {
    -fx-text-fill: #000000;
}

.menu-item:focused .label {
    -fx-text-fill: #000000;
}

.menu-item:focused {
    -fx-background: -fx-accent;
    -fx-background-color: #E0E0E0;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: white;
}

.text-area .content {
    -fx-background-color: white;
}
