@font-face {
    font-family: "Rubik Regular";
    src: url("../fonts/rubik/static/Rubik-Regular.ttf");
}

.command-table {
    -fx-background-color: #2f3136;
}

.stack-pane {
    -fx-background-color: #2f3136;
}

.scroll-bar {
    -fx-pref-width: 10;
    -fx-pref-height: 10;
    -fx-background-color: derive(#1b1c1e, 10%);
}

.scroll-bar .thumb {
    -fx-background-color: #1b1c1e;
    -fx-background-insets: 1;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#copyButton, #helpMessage {
    -fx-font-family: "Rubik Regular";
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: derive(#2f3136, 20%);
}

#copyButton:hover {
    -fx-background-color: derive(#2f3136, 35%);
}

#copyButton:armed {
    -fx-background-color: derive(#2f3136, 50%);
}

#helpMessageContainer {
    -fx-background-color: #2f3136;
}
