#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: #FF7979;
}

#copyButton:hover {
    -fx-background-color: #E16B6B;
}

#copyButton:armed {
    -fx-background-color: #FF7979;
}

#helpMessageContainer {
    -fx-background-color: derive(#F3F4F7, 20%);
}

#listCommand {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#listCommand.label, #exitCommand.label, #clearCommand.label, #addCommand.label, #deleteCommand.label {
    -fx-text-fill: white;
    -fx-background-color: #8A88FF;
    -fx-padding: 2 10 2 10;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 14;
}

#addGroupCommand.label, #delGroupCommand.label, #assignCommand.label, #deassignCommand.label, #addTaskCommand.label {
    -fx-text-fill: white;
    -fx-background-color: #8A88FF;
    -fx-padding: 2 10 2 10;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 14;
}

#delTaskCommand.label, #viewTaskCommand.label, #viewContactCommand.label {
    -fx-text-fill: white;
    -fx-background-color: #8A88FF;
    -fx-padding: 2 10 2 10;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 14;
}
