* {
    -fx-font-family: 'sans-serif';
}

#copyButton, #helpMessage, #ugMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: derive(#2B2B2B, 30%);
}

#copyButton:hover {
    -fx-background-color: derive(#2B2B2B, 60%);
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: #2B2B2B;
}
