.button {
    -fx-background-color: #555555;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10px;
    -fx-border-color: #555555;
    -fx-border-radius: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
