#emailButton {
    -fx-text-fill: white;
}

#emailButton {
    -fx-background-color: dimgray;
}

#emailButton {
    -fx-border-radius: 5px;
}

#emailButton:hover {
    -fx-background-color: gray;
}

#resizeButton {
    -fx-text-fill: white;
}

#resizeButton {
    -fx-background-color: xanadu;
}

#resizeButton {
    -fx-border-radius: 5px;
}

#resizeButton:hover {
    -fx-background-color: gray;
}
